body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(#222, #5b3518);
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: white;
}


#menu {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
}


h1 {
    font-size: 55px;
    color: #ff9800;
}


h2 {
    font-size: 30px;
}


button {
    padding: 15px 25px;
    margin: 8px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #ff9800;
    color: white;
}


button:hover {
    background: #ffb300;
}


#gameArea {
    display: none;
    text-align: center;
    padding-top: 20px;
}


#hud {
    font-size: 30px;
    font-weight: bold;
}


#shaorma {
    margin: 40px auto;
    width: 250px;
    min-height: 250px;
    background: #e6b66a;
    border-radius: 40px;
    font-size: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
